body{
    font-family: Montserrat, sans-serif
}

h1{
    font-size: 45px;
    line-height: 1;
}

h2{
    font-size: 32px;
    line-height: 1.1;
}

h3{
    font-size: 24px;
    line-height: 1.2;
}

p{
    font-size: 18px;
    line-height: 1.4;
}

figcaption{
    font-size: 12px;
    font-style: italic;
}

a{
    color: #c44105;
    font-size: 24px;
    font-weight: bold;
    text-decoration: double;
    text-decoration-line: underline;
}

li{
    color: #035276;
    font-style: italic;
}

.realce{
    color: #0588c4;
}

.preco{
    color: #0588c4;
}

.desconto{
    color: #0588c4;
}

.sem-juros{
    color: #0588c4;
}

.frete-gratis{
    color: #0588c4;
    text-decoration: underline;
}